@charset "utf-8";
// *******************************
// variables
// *******************************
$black: #333333;
$gray: #d0d0d0;
$white: #ffffff;
$bg-white: #fefefe;
$bg-gray: #cecece;
$main-color: #2c8bff;
$btn-shadow-color: #265b9a72;


// *******************************
// base layout
// *******************************
html {
    font-size: 16px;
    letter-spacing: 0.05em;

    body {
        color: $black;
        background-color: $bg-white;
        font-family: "Noto Sans JP", sans-serif;  

        // コンテンツ幅
        #wrapper {
            padding: 3rem;
        }
        #inner {
            width: fit-content;
            margin: 0 auto;
        }
    }
}

// 画像の比率を維持しながら最大幅を100%に
img {
    max-width: 100%;
    height: auto;
}


h1 {
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: $main-color;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
}

input,textarea {
    all: revert;
}

// ～円の表記
span.yen {
    font-size: 0.85rem;
    margin: 0 0.2em;
    vertical-align: baseline;
}

// リンク
a:not(.btn) {
    font-size: 1rem;
    text-decoration: underline;
    text-decoration-color: $gray;
    text-underline-offset: 5px;
    // :hover
    transition: 0.2s;

    &:hover {
        color: $main-color;
        text-decoration-color: $main-color;
    }
}

// 戻るリンク（アイコンつき）
p.move {
    a {
        font-size: 0.8rem;
        letter-spacing: 0.03em;
        position: relative;
        display: inline-block;
    }
}

p.move.left {
    text-align: left;
    margin-left: 1rem;

    a {
        // 左向きのくの字アイコン
        &::before {
            content: "";
            width: 0.6em;
            height: 0.6em;
            border-top: solid 2px $black;
            border-left: solid 2px $black;
            transform: rotate(-45deg);
            position: absolute;
            top: 0;
            left: -0.9em;
            bottom: 0;
            margin-top: calc(1em - 0.6em);
            // :hover
            transition: 0.2s;
        }
        &:hover {
            &::before {
                border-color: $main-color;
                left: -1em;
            }
        }
    }
}

p.move.center {
    text-align: center;

    a {
        transition: 0.2s;
        opacity: 1;

        // :hover
        &:hover {
                opacity: 0.7;
        }
    }    
}

p.move.right {
    text-align: right;
    margin-right: 1rem;

    a {
        // 右向きのくの字アイコン
        &::after {
            content: "";
            width: 0.6em;
            height: 0.6em;
            border-top: solid 2px $black;
            border-right: solid 2px $black;
            transform: rotate(45deg);
            position: absolute;
            top: 0;
            right: -0.9em;
            bottom: 0;
            margin-top: calc(1em - 0.6em);
            // :hover
            transition: 0.5s;
        }
        &:hover {
            &::after {
                border-color: $main-color;
                right: -1em;
            }
        }
    }    
}

.link-wrap {
    display: flex;
    position: relative;
    width: 100%;

    p.move.left {
        position: absolute;
        left: 0;
    }
    p.move.center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    p.move.right {
        position: absolute;
        right: 0;
    }
}

// ボタン
a.btn,button {
    display: inline-block;
    font-size: 0.85rem;
    letter-spacing: 0.03em;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    padding: 0.8em 1.2em; //仮
    // :hover
    transition: 0.2s;
    opacity: 1;

    &:hover {
        opacity: 0.7;
    }
}

.btn-blue {
    background-color: $main-color;
    color: $white;
}

.btn-gray {
    background-color: $bg-gray;
}

.welcome-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    p:has(a) a {
        font-size: 0.8rem;
        letter-spacing: 0.03em;
    }
}

// *******************************
// 各ページのレイアウト
// *******************************
#wrapper.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    #inner {
        border: $main-color 1px solid;
        border-radius: 8px;
        padding: 3rem;
        width: fit-content;
    }

    p.txt {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 2rem;
    }
    form {
        margin-bottom: 1rem;
        font-size: 0.8rem;
        color: $black;

        label {
            display: inline-block;
            margin-bottom: 0.3em;
        }
        input[type=text],input[type=password] {
            display: block;
            border: $gray solid 1px;
            width: 30em;
            padding: 1em;
            &:nth-of-type(1){
                margin-bottom: 1rem;
            }
            &:nth-of-type(2){
                margin-bottom: 2.5rem;
            }
        }
        button{
            width: 100%;
            text-align: center;
            display: block;
            margin-bottom: 1rem;
            border-radius: 6px;
        }  
    }
    p.move.center {    
        a {
            transition: 0.2s;
    
            // :hover
            &:hover {
                color: $main-color;
                text-decoration-color: $main-color;
                opacity: 1;
            }
        }    
    }
}

#wrapper.form {
    h1 {
        margin-bottom: 3em;
    }
    p.txt {
        margin-bottom: 2rem;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 2rem;
        
        th,td {
            border: none;
            vertical-align: top;
        }
        th {
            text-align: right;
            font-weight: 400;
            vertical-align: middle;
        }
        td {
            text-align: left;
            font-weight: 400;
            padding: 1em 0.5em;
            
            input[type=text] {
                width: 40em;
                letter-spacing: 0.05em;
                line-height: 1.6;
                padding: 0.3em 0.4em;
            }
            input[type=password] {
                width: 25em;
                letter-spacing: 0.05em;
                line-height: 1.6;
                padding: 0.3em 0.4em;
            }
            input[type=number] {
                width: 10em;
                letter-spacing: 0.03em;
                line-height: 1.6;
                padding: 0.3em 0.4em;
                text-align: right;
                -moz-appearance: textfield;

                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
            textarea {
                width: 40em;
                height: 6em;
                letter-spacing: 0.05em;
                line-height: 1.6;
                padding: 0.3em 0.4em;
            }
            input[type=file]::file-selector-button {
                background-color: $bg-gray;
                border: $black solid 1px;
                border-radius: 3px;
                font-size: 0.75rem;
                padding: 0.3em 0.8em;
                // hover
                transition: 0.2s;
                opacity: 1;
                
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
    button {
        display: block;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
}

#wrapper.form.entryuser {
    input[type=text] {
        width: 25em;
    }
}

#wrapper.check,
#wrapper.result,
#wrapper.detail {
    p.txt {
        margin-bottom: 2rem;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0 2rem;
        margin-bottom: 2rem;
        
        th,td {
            border: none;
            vertical-align: top;
            padding: 1em 0.6em;
            line-height: 1.6;
        }
        th {
            text-align: right;
            font-weight: 500;
        }
        td {
            text-align: left;
            font-weight: 400;
        }
        img {
            max-width: 500px;
        }
    }
    button {
        display: block;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
}

#wrapper.check.entryuser {
    button {
        margin-bottom: 2.5rem;
    }
}

#wrapper.detail {
    td img {
        max-width: 100%;
    }
}


#wrapper.index {

    h1{
        margin-bottom: 2em;
    }
    p.new-item{
        text-align: right;
        margin-bottom: 0.8rem;
    }
    table{
        background-color: $white;
        border-collapse: collapse;
        border-spacing: 0;

        th,td{
            border: $gray solid 1px;
            padding: 1rem 1.6rem;
            vertical-align: center;
        }
        th{
            text-align: center;

        }
        td{

            &:nth-of-type(1){
                border-right: none;
                padding-left: 2rem;
                padding-right: 1rem;
            }
            &:nth-of-type(2){
                font-size: 0.8rem;
                letter-spacing: 0.03em;
                border-left: none;
                text-align: center;
                padding-left: 1rem;
                padding-right: 2rem;
            }
            a.btn {
                margin: 0 0.2em;
            }
        }

    }

}
